.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-action {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
