/* .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.profile-action {
  display: flex;
  justify-content: space-between;
  gap: ;
  margin-top: 1rem;
}
